.container{
    width: 100%;
    height: fit-content;
    padding: 10px;
    margin: 10px;
display: flex;
flex-direction: row;
}
.container .dot{
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 50%;
    background-color: blue;
    animation: bounce 0.5s infinite  alternate ;
}
.container .dot:nth-child(2n+1){
    animation-delay: 200ms;
}
 .container .dot:nth-child(3n-1){
    animation-delay: 300ms;
}
/*.container .dot:nth-child(3){
    animation-delay: 400ms;
} */

@keyframes bounce {
    100% {
        /* width: 60px; */
        /* border-radius: 10%; */
        translate: 0 -20px;
    }
    
}